<%= form_with(model: dish) do |form| %>
  <% if dish.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
        <% dish.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='card', style='width: 18rem;'>
        <div class='card-body'>
            <div class='mb-3'>
              <%= form.label :name, { class: "form-label"} %>
              <%= form.text_field :name, { class: "form-control", placeholder: "Name" } %>
            </div>

            <form>
                <input type="submit" value="Submit changes" class='btn btn-primary'>
            </form>
        <div>
    </div>
<% end %>

