<div class='container' style='margin-left: 3rem; margin-top:1rem; background-color: rgb(0 0 0/0%)'>
  <%= link_to "", dishes_path, class: "btn btn-outline-dark fa-solid fa-arrow-left" %>
</div>

<div class='container' style='width:25rem; margin:auto;'>

  <div class="card">
    <div class="card-header text-center" style='background-color:#adb5bd;'>
      <%= render @dish %>
    </div>
    <ul class="list-group list-group-flush">
      <% @dish.items.each do |item| %>
        <li class='list-group-item'><%= item.name %> </li>
      <% end %>
    </ul>
  </div>

  <br>
  <% if can? :manage, Dish %>
    <%= link_to "", edit_dish_path(@dish), class: 'btn btn-outline-warning fa-solid fa-pencil' %>
  <% end %>
      <br><br>
  <% if can? :manage, Dish %>
    <%= button_to "", @dish, method: :delete, class: 'btn btn-outline-danger fa-solid fa-trash'%>
  <% end %>
  </div>




</div>
