
  <p style="color: green"><%= notice %></p>
<div style='margin:1rem;'>
  <%= link_to '', root_path, class: 'btn btn-outline-dark fa-solid fa-arrow-left', style:'margin:1rem;'%>
</div>

<div class='text-center'>
  <h1>Restaurants</h1>
</div>

<div class="container" style='width:40rem;'>
  <table class="table" style='margin:auto; width: 35rem;'>
  <thead>
    <tr>
      <th scope='col'>Name</th>
      <th scope='col'>Address</th>
    </tr>
  </thead>
    <tbody>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <td><%= restaurant.name%></td>
          <td><%= restaurant.address%></td>
          <td><%= link_to "", restaurant, class: 'btn btn-outline-info btn-sm fa-solid fa-eye' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
  <br>
<div style='margin-left:3rem;'>
  <%= link_to "", new_restaurant_path, class: 'btn btn-outline-secondary btn-sm fa-solid fa-plus' %>
</div>
