<div class='container text-center'>
  <p style="color: green"><%= notice %></p>

  <%= render @restaurant %>


  <h5>Items</h5>
  <div>

    <% @restaurant.items.each do |item| %>
      <%= link_to item.name, restaurant_item_path(@restaurant, item), class: "btn btn-info" %>
    <% end %>

    <br>
    <br>
    <%= link_to "Edit", edit_restaurant_path(@restaurant), class: "btn btn-outline-warning btn-sm" %> |
    <%= link_to "Back to restaurants", restaurants_path, class: "btn btn-outline-dark btn-sm" %>

    <br><br>
    <%= button_to "Destroy this restaurant", @restaurant, method: :delete , class: "btn btn-outline-danger btn-sm"%>

  </div>
</div>
