<div class='container'>
  <%= form_for item do |form| %>
    <% if @item.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

        <ul>
          <% @item.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class='card', style='width: 18rem;'>
        <div class='card-body'>
            <div class='mb-3'>
            <%= form.label :name, { class: "form-label"} %>
            <%= form.text_field :name, { class: "form-control", placeholder: "Name" }%>
            </div>

            <div class='mb-3'>
            <%= form.label :price, { class: "form-label"} %>
            <%= form.number_field :price, { class: "form-control", placeholder: "Price" } %>
            </div>

            <div class='mb-3'>
            <%= form.label :callories, { class: "form-label"} %>
            <%= form.number_field :callories, { class: "form-control", placeholder: "Callories" } %>
            </div>

            <div class='mb-3'>
              <%= form.label :restaurant_id, class: "form-label" %>
              <%= form.collection_select :restaurant_id, Restaurant.all, :id, :name, { include_blank: "Select a Restaurant" }, class: "form-control" %>
            </div>

            <div class='mb-3'>
              <%= form.label :dish_id, {class: "form-label"} %>
              <%= form.collection_select :dish_id, Dish.all, :id, :name, { include_blank: 'Select a Dish' }, class: "form-control" %>
            </div>

            <div>
                <%= form.submit "Create Item", class: "btn btn-primary" %>
            </div>
        </div>
    </div>
  <% end %>
</div>