<div style='margin:1rem;'>
  <%= link_to '', root_path, class: 'btn btn-outline-dark fa-solid fa-arrow-left', style:'margin:1rem;'%>
</div>

<div class='text-center'>
  <h1>Items</h1>
</div>
<div class="container" style='width:35rem;'>
  <table class="table" style='margin:auto; width:30rem;'>
  <thead>
    <tr>
      <th scope='col'>Name</th>
      <th scope='col'>Price</th>
      <th scope='col'>Callories</th>
    </tr>
  </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.name%></td>
          <td><%= item.price%></td>
          <td><%= item.callories%></td>
          <td><%= link_to "", item, class: 'btn btn-outline-info btn-sm fa-solid fa-eye' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

  <div style='margin:2rem;'>
  <%= link_to "", new_item_path, class: 'btn btn-outline-secondary btn-sm fa-solid fa-plus' %>
</div>
