<div class='container' style='margin-left: 3rem; margin-top:1rem;'>
  <%= link_to "", items_path, class: "btn btn-outline-dark fa-solid fa-arrow-left" %>
  <p style="color: green"><%= notice %></p>


  <%= render @item %>


  <div>
    <br>
    <%= link_to "", edit_restaurant_item_path(@item.restaurant_id, @item), class: 'btn btn-outline-warning fa-solid fa-pencil' %>
    <br><br>

    <%= button_to "", @item, method: :delete , class: "btn btn-outline-danger fa-solid fa-trash"%>
  </div>
</div>
