<div class='container text-center'>
  <p style="color: green"><%= notice %></p>

  <%= render @item %>

  <div>
    <%= link_to "Edit", edit_restaurant_item_path(@item.restaurant_id, @item), class: 'btn btn-outline-warning btn-sm' %> | <%= link_to "Back to items", restaurant_path(@item.restaurant_id), class: 'btn btn-outline-dark btn-sm' %>

    <br><br>
  
    <%= button_to "Destroy this item", @item, method: :delete , class: "btn btn-outline-danger btn-sm"%>
  </div>
</div>